.para1 {
  background-color: rgb(9, 9, 79, 0.5);
  background-image: url("https://ik.imagekit.io/pt1wabkis/MERN%20BATCH-9/car1.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: auto;
  color: beige;
  /* opacity: 0.2; */
}

.para2 {
  /* background-color: antiquewhite; */
}

.box1 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  /* opacity: 0; */
}
